<table>
  <tbody>
    <tr>
      <td>Виды сортировки</td>
      <td>{{array}}</td>

    </tr>
    <tr>
      <td>Пузырьковая сортировка</td>
      <td>{{t_1}}</td>
    </tr>
    <tr>
      <td>Сортировка выборкой</td>
      <td>{{t_2}}</td>
    </tr>
  <tr>
      <td>Сортировка вставками</td>
      <td>{{t_3}}</td>
    </tr>
  <tr>
      <td>Пирамидальная сортировка</td>
      <td>{{t_4}}</td>

    </tr>
  <tr>
      <td>Сортировка слиянием</td>
      <td>{{t_5}}</td>
    </tr>
  <tr>
      <td>Быстрая сортировка</td>
      <td>{{t_6}}</td>
    </tr>
  </tbody>
</table>